{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    
    {% if users %}
        {% if app.user.departement %}
            <h3>Derniers inscrits dans votre département ({{ app.user.departement.name }})</h3>
        {% endif %}
        {% for user in users %}
            <li><a href="{{ path('member_profile', {"id":user.id}) }}">{{ user.username }}</a></li>
        {% endfor %}
    {% else %}
        Pas encore d'inscrits
    {% endif %}

{% endblock %}
