{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
    {{ form(form) }}
    {% for user in selUsers %}
        <p><a href="{{ path('member_profile', {"id":user.id}) }}">{{ user.email }}</a></p>
    {% endfor %}
{% endblock %}